.public {
  width: 1226px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #333333;
}

header > nav {
  height: 100%;
}

header > nav > .nav-left {
  float: left;
  height: 13px;
  transform: translateY(15px);
}

header > nav > .nav-left > ul {
  width: 100%;
  height: 100%;
}

header > nav > .nav-left > ul > li {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 13px;
  padding-right: 7px;
}

header > nav > .nav-left > ul > li > a {
  color: #b0b0b0;
}

header > nav > .nav-left > ul > li:hover > a {
  color: #ffffff;
}

header > nav > .nav-left > ul > li:nth-child(n+2) {
  padding-left: 8px;
  border-left: 1px solid #393f3f;
}

header > nav > .nav-right {
  float: right;
  width: 275px;
  height: 100%;
}

header > nav > .nav-right > ul {
  float: left;
  height: 13px;
  transform: translateY(15px);
}

header > nav > .nav-right > ul > li {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 13px;
  padding-right: 7px;
}

header > nav > .nav-right > ul > li > a {
  color: #b0b0b0;
}

header > nav > .nav-right > ul > li:hover > a {
  color: #ffffff;
}

header > nav > .nav-right > ul > li:nth-child(n+2) {
  padding-left: 8px;
  border-left: 1px solid #393f3f;
}

header > nav > .nav-right > div {
  float: right;
  width: 120px;
  height: 100%;
  background-color: #424242;
  position: relative;
}

header > nav > .nav-right > div > a {
  width: 100%;
  height: 100%;
}

header > nav > .nav-right > div > a > i {
  margin-left: 14px;
  color: #b0b0b0;
  margin-top: -2px;
}

header > nav > .nav-right > div > a > em.nav-right-shopping-cart {
  font-size: 12px;
  line-height: 40px;
  margin-left: 3px;
  color: #b0b0b0;
}

header > nav > .nav-right > div > a > span.nav-right-shoppingnum {
  font-size: 12px;
  color: #b0b0b0;
  margin-left: 7px;
}

header > nav > .nav-right > div:hover {
  background-color: #fff;
}

header > nav > .nav-right > div:hover > a > i, header > nav > .nav-right > div:hover > a em, header > nav > .nav-right > div:hover > a span {
  color: #ff6700;
}

header > nav > .nav-right > div > div {
  position: absolute;
  right: 0;
  width: 318px;
  height: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: height .3s;
}

header > nav > .nav-right > div:hover > div {
  height: 100px;
}

section.carousel {
  width: 100%;
  margin: 0 auto;
  padding: 22px 0;
}

section.carousel > .carousel-nav {
  height: 55px;
  margin-bottom: 23px;
  position: relative;
}

section.carousel > .carousel-nav > .logo {
  float: left;
  width: 55px;
  height: 55px;
  overflow: hidden;
  transition: 1s linear;
  background-color: #ff6700;
}

section.carousel > .carousel-nav > .logo > a {
  width: 100%;
  height: 100%;
  position: relative;
}

section.carousel > .carousel-nav > .logo > a > img {
  transform: translateX(3px) translateY(3px);
  transition: all .3s;
}

section.carousel > .carousel-nav > .logo > a > img:nth-child(2) {
  position: absolute;
  top: -15px;
  left: -57px;
  background-color: #ff6700;
}

section.carousel > .carousel-nav > .logo:hover > a > img:nth-child(1) {
  margin-left: 55px;
}

section.carousel > .carousel-nav > .logo:hover > a > img:nth-child(2) {
  margin-left: 55px;
}

section.carousel > .carousel-nav > ul {
  float: left;
  height: 100%;
  transform: translateX(189px);
}

section.carousel > .carousel-nav > ul > li {
  float: left;
  margin-right: 20px;
  height: 100%;
}

section.carousel > .carousel-nav > ul > li > a {
  font-size: 16px;
  line-height: 55px;
  color: #333333;
}

section.carousel > .carousel-nav > ul > li > a:hover {
  color: #ff6700;
}

section.carousel > .carousel-nav > ul > li > div {
  position: absolute;
  top: 78px;
  left: -584px;
  width: 1904px;
  height: 0;
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  background-color: #fff;
  transition: height .3s;
}

section.carousel > .carousel-nav > ul > li:hover > div {
  z-index: 10;
  height: 202px;
  transition: height .3s;
  border-top: 1px solid rgba(0, 0, 0, 0.18);
}

section.carousel > .carousel-nav > .search {
  float: right;
  width: 296px;
  height: 50px;
  transform: translateY(2px);
  position: relative;
}

section.carousel > .carousel-nav > .search > input {
  box-sizing: border-box;
  float: left;
  width: 243px;
  height: 48px;
  outline: none;
  border: 1px solid #b0b0b0;
}

section.carousel > .carousel-nav > .search > input:focus {
  border-color: #ff6700;
}

section.carousel > .carousel-nav > .search > input:focus ~ .msg {
  display: block;
  border-color: #ff6700;
}

section.carousel > .carousel-nav > .search > input:focus ~ .btn {
  border-color: #ff6700;
}

section.carousel > .carousel-nav > .search > input:focus ~ .tip1 {
  display: none;
}

section.carousel > .carousel-nav > .search > input:focus ~ .tip2 {
  display: none;
}

section.carousel > .carousel-nav > .search > div.btn {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 48px;
  border: 1px solid #b0b0b0;
  border-left: none;
  position: relative;
}

section.carousel > .carousel-nav > .search > div.btn > i {
  position: absolute;
  top: 11px;
  left: 17px;
}

section.carousel > .carousel-nav > .search > div.btn:hover {
  background-color: #ff6700;
}

section.carousel > .carousel-nav > .search > div.btn:hover > i {
  color: #fff;
}

section.carousel > .carousel-nav > .search > div.msg {
  position: absolute;
  top: 48px;
  width: 241px;
  height: 300px;
  border: 1px solid #b0b0b0;
  border-top: none;
  display: none;
  background-color: #fff;
}

section.carousel > .carousel-nav > .search > div.tip1 {
  position: absolute;
  top: 15px;
  left: 58px;
  padding: 0 5px;
  height: 20px;
  background-color: #d6d3d3;
}

section.carousel > .carousel-nav > .search > div.tip1 > a {
  width: 100%;
  height: 100%;
}

section.carousel > .carousel-nav > .search > div.tip1 > a > h3 {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #666666;
}

section.carousel > .carousel-nav > .search > div.tip1:hover {
  background-color: #ff6700;
}

section.carousel > .carousel-nav > .search > div.tip1:hover > a > h3 {
  color: #fff;
}

section.carousel > .carousel-nav > .search > div.tip2 {
  position: absolute;
  top: 15px;
  left: 147px;
  height: 20px;
  padding: 0 5px;
  background-color: #d6d3d3;
}

section.carousel > .carousel-nav > .search > div.tip2 > a {
  width: 100%;
  height: 100%;
}

section.carousel > .carousel-nav > .search > div.tip2 > a > h3 {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #666666;
}

section.carousel > .carousel-nav > .search > div.tip2:hover {
  background-color: #ff6700;
}

section.carousel > .carousel-nav > .search > div.tip2:hover > a > h3 {
  color: #fff;
}

section.carousel > .carousel-chart {
  height: 460px;
  background-color: #b6b2b2;
  margin-bottom: 14px;
}

section.carousel > .carousel-chart > .carousel-chart-nav {
  float: left;
  width: 235px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul {
  width: 100%;
  transform: translateY(19px);
  position: relative;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li {
  width: 100%;
  height: 42px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > a {
  width: 100%;
  height: 100%;
  line-height: 42px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > a > h3 {
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-indent: 30px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > a > i {
  float: right;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-right: 18px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li:hover {
  background-color: #ff6700;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li:hover > div {
  display: block;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div {
  position: absolute;
  top: -19px;
  left: 235px;
  width: 992px;
  height: 460px;
  display: none;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  border: 1px solid #e0e0e0;
  border-left: none;
  z-index: 20;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul {
  float: left;
  width: 248px;
  height: 456px;
  padding: 2px 0;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul > li {
  float: left;
  width: 248px;
  height: 76px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 76px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul > li > a > img {
  margin-left: 10px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul > li > a > span {
  font-size: 14px;
  color: #000;
  margin-left: 10px;
  font-weight: 400;
  transition: color .2s;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div > ul > li:hover > a > span {
  color: #ff6700;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div.carousel-chart-nav-minnav-03, section.carousel > .carousel-chart > .carousel-chart-nav > ul > li div.carousel-chart-nav-minnav-07 {
  width: 530px;
}

section.carousel > .carousel-chart > .carousel-chart-nav > ul > li > div.carousel-chart-nav-minnav-05, section.carousel > .carousel-chart > .carousel-chart-nav > ul > li div.carousel-chart-nav-minnav-06
, section.carousel > .carousel-chart > .carousel-chart-nav > ul > li div.carousel-chart-nav-minnav-09, section.carousel > .carousel-chart > .carousel-chart-nav > ul > li div.carousel-chart-nav-minnav-05
, section.carousel > .carousel-chart > .carousel-chart-nav > ul > li div.carousel-chart-nav-minnav-10 {
  width: 798px;
}

section.carousel > .carousel-display {
  height: 170px;
}

section.carousel > .carousel-display > ul {
  width: 100%;
  height: 100%;
}

section.carousel > .carousel-display > ul > li {
  float: left;
  height: 100%;
  background-color: darkmagenta;
}

section.carousel > .carousel-display > ul > li:nth-child(1) {
  width: 235px;
}

section.carousel > .carousel-display > ul > li:nth-child(1) > ul {
  padding: 3px;
  font-size: 12px;
  background-color: #5f5750;
}

section.carousel > .carousel-display > ul > li:nth-child(1) > ul > li {
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  text-align: center;
}

section.carousel > .carousel-display > ul > li:nth-child(1) > ul > li > a {
  display: block;
  padding-top: 18px;
  text-overflow: ellipsis;
  color: #fff;
  opacity: .7;
  transition: opacity .2s;
}

section.carousel > .carousel-display > ul > li:nth-child(1) > ul > li > a > img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}

section.carousel > .carousel-display > ul > li:nth-child(1) > ul > li > a:hover {
  opacity: 1;
}

section.carousel > .carousel-display > ul > li:nth-child(n+2) {
  width: 315px;
  margin-left: 15px;
}

section.carousel > .carousel-display > ul > li:nth-child(n+2) > a {
  display: block;
  height: 170px;
}

section.carousel > .carousel-display > ul > li:nth-child(n+2) > a > img {
  display: block;
  width: 316px;
  height: 170px;
}

.carousel-display-li::before {
  position: absolute;
  content: " ";
  background: #665e57;
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
}

.carousel-display-li::after {
  position: absolute;
  content: " ";
  background: #665e57;
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
}

main {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 26px;
  padding-top: 22px;
}

main > #main-title-flash-purchase {
  margin-top: 0;
}

main > .main-title {
  height: 22px;
  margin-top: 40px;
  margin-bottom: 19px;
}

main > .main-title > h2 {
  display: inline-block;
  font-size: 22px;
  color: #333;
  font-weight: 200;
  line-height: 22px;
}

main > .main-title > div {
  float: right;
  width: 100px;
  height: 100%;
  background-color: darkolivegreen;
}

main > .main-flash-purchase {
  height: 340px;
}

main > .main-flash-purchase > ul {
  width: 100%;
  height: 100%;
}

main > .main-flash-purchase > ul > li {
  float: left;
  width: 234px;
  height: 328px;
  background-color: seashell;
}

main > .main-flash-purchase > ul > li:nth-child(n+2) {
  margin-left: 14px;
}

main > .main-flash-purchase > ul > li:nth-child(1) {
  border-top: 2px solid #e53935;
}

main > .main-flash-purchase > ul > li:nth-child(2) {
  border-top: 2px solid #00c0a5;
}

main > .main-flash-purchase > ul > li:nth-child(3) {
  border-top: 2px solid #ffac13;
}

main > .main-flash-purchase > ul > li:nth-child(4) {
  border-top: 2px solid #83c44e;
}

main > .main-flash-purchase > ul > li:nth-child(5) {
  border-top: 2px solid #2196fe;
}

main > .main-advertisement {
  height: 120px;
  background-color: fuchsia;
  margin-top: 22px;
}

main > .main-commodity {
  height: 614px;
  margin-bottom: 36px;
}

main > .main-commodity > div {
  float: left;
  width: 234px;
  height: 100%;
  background-color: darkolivegreen;
}

main > .main-commodity > div > ul {
  width: 234px;
}

main > .main-commodity > div > ul > li {
  height: 300px;
  background-color: hotpink;
}

main > .main-commodity > div > ul > li:nth-child(1) {
  margin-bottom: 14px;
}

main > .main-commodity > ul {
  float: right;
  width: 992px;
  height: 100%;
}

main > .main-commodity > ul > li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  background-color: #ffffff;
  transition: all .2s linear;
}

main > .main-commodity > ul > li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

main > .main-commodity > ul > li:nth-child(n+5) {
  margin-top: 14px;
}

main .main-video {
  height: 285px;
}

main .main-video > ul {
  width: 100%;
  height: 100%;
}

main .main-video > ul > li {
  float: left;
  width: 296px;
  height: 100%;
  background-color: tomato;
}

main .main-video > ul > li:nth-child(n+2) {
  margin-left: 14px;
}

.footer-nav {
  width: 100%;
  height: 272px;
  margin: 0 auto;
  padding-top: 26px;
}

.footer-links {
  width: 100%;
  height: 231px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
